<ion-view view-title="Contact Us">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
<!--     <button class="button button-icon icon ion-clipboard" ng-controller="AlertController" ng-click="modal.show()"></button> -->
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div class="list">
      <a class="item item-thumbnail-left"  target="_blank" href="https://github.com/luketgriffith">
        <img src="./img/luke.jpeg">
        <h2>Luke Griffith</h2>
        <p>Front End Engineer</p>
        <hr>
        <p>Click to check out his Github</p>
      </a>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left"  target="_blank" href="https://github.com/IsaacHardy">
        <img src="./img/isaac.jpeg">
        <h2>Isaac Hardy</h2>
        <p>Front End Engineer</p>
        <hr>
        <p>Click to check out his Github</p>
      </a>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left"  target="_blank" href="https://github.com/kmooney517">
        <img src="./img/kevin.jpeg">
        <h2>Kevin Mooney</h2>
        <p>Front End Engineer</p>
        <hr>
        <p>Click to check out his Github</p>
      </a>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left"  target="_blank" href="http://www.linkedin.com/isaachardy">
        <img src="./img/carl.png">
        <h2>Carl Westmoreland</h2>
        <p>Back End Engineer</p>
        <hr>
        <p>Click to check out his Github</p>
      </a>
    </div>
  </ion-content>
</ion-view>
