<ion-view view-title="Create smartCart">
  <ion-content>
    <form ng-submit="vm.createSmartCart(house)" class="list">
      <label class="item item-input">
        <input type="text" ng-model="house.name" placeholder="Name your smartCart">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="house.address" placeholder="smartCart Location (e.g. Home, Work, Old Apartment)"> 
      </label>
      <button class="button btn button-calm">Add</button>
    </form>
  </ion-content>
</ion-view>