<ion-view view-title="smartCart">
  <ion-content>
    <div class="row">
      <a class="tab-item col col-50 list-tabs pantry" pantry>
        <i class="icon"></i>
        Pantry List
      </a>
       <a class="tab-item col col-50 list-tabs grocery" grocery>
        <i class="icon"></i>
        Grocery List
      </a>
    </div>
    <div class="lists row">
      <div class="row list1">
        <div class="col col-100">
          <div class="list list-inset">

              <div class="item item-divider" dairy>
                Dairy
                <span class="badge badge-positive">0</span>
              </div>

              <div class="item item-button-right dairy hide">
                Potatos
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right dairy hide">
                Bananas
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right dairy hide">
                Milk
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right dairy hide">
                Eggs
                <span class="badge badge-balanced">0</span>
              </div>

              <div class="item item-divider" home>
                Home Accesories
                <span class="badge badge-positive">0</span>
              </div>

              <div class="item item-button-right home hide">
                Toliet Paper
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right home hide">
                Lunch Meat
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right home hide">
                Flour
                <span class="badge badge-balanced">0</span>
              </div>
              <div class="item item-button-right home hide">
                Beer
                <span class="badge badge-balanced">0</span>
              </div>

              <div class="item item-divider" butch>
                Butcher
                <span class="badge badge-positive">0</span>
              </div>

              <div class="item item-button-right butch hide">
                Ground Beef
                <span class="badge badge-balanced">0</span>
              </div>

          </div>
        </div>
      </div>
      <div class="row list2 hide">
        <div class="col col-100">
          <div class="list list-inset">
              <div class="item item-divider">
                Needables
              </div>
              <div class="item item-button-right">
                Potatos
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Bananas
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Milk
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Eggs
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Toliet Paper
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Lunch Meat
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Flour
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Beer
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Ground Beef
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>

              <div class="item item-divider">
                List
              </div>

              <div class="item item-button-right">
                Lunch Meat
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Flour
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Beer
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>
              <div class="item item-button-right">
                Ground Beef
                <button class="button button-positive">
                  <i class="icon ion-checkmark-circled"></i>
                </button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>