<ion-view>
  <ion-nav-buttons side="right">
    <a class="land-log" href="#/tab/login">Login</a>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true" overflow-scroll="true">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider">
      <ion-slide>
        <div class="box green">
          <div class="land1">
            <h2>Welcome to smartCart!</h2>
            <img src="./img/logo.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo
            consequat.</p>
            <h4>Next Slide <i class="ion-chevron-right"></i></h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box green">
          <div class="land1">
            <h2>Welcome to smartCart!</h2>
            <img src="./img/logo.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo
            consequat.</p>
            <h4>Next Slide <i class="ion-chevron-right"></i></h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box green">
          <div class="land1">
            <h2>Welcome to smartCart!</h2>
            <img src="./img/logo.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo
            consequat.</p>
            <h4>Next Slide <i class="ion-chevron-right"></i></h4>
          </div>
          <a class="button button-calm" href="#/tab/signup">Sign Up</a>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
