<ion-view>
  <ion-nav-buttons side="right">
    <a class="land-log" href="#/tab/login">Login</a>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true" overflow-scroll="true">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slider">
      <ion-slide>
        <div class="box green">
          <div class="land1">
            <h2>Welcome to smartCart!</h2>
            <img src="./img/logo.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo
            consequat.</p>
            <h4>Next Slide <i class="ion-chevron-right"></i></h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box green">
          <div class="land2">
            <div class="row">
              <div class="col">
                <img src="./img/step1.png">
              </div>
              <div class="col">
                <h4 class="step-one">Step One</h4>
                <h6>Sign up for a smartCart account! It's free! This free account allows you have your entire pantry's inventory in your pocket!</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <img src="./img/step2.png">
              </div>
              <div class="col">
                <h4 class="step-two">Step Two</h4>
                <h6>Name your pantry and set it's location (e.g. Home). After that, go ahead and set up your smartCart database with all of your pantry items!</h6>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <img src="./img/step3.png">
              </div>
              <div class="col">
                <h4 class="step-three">Step Three</h4>
                <h6>Set up a grocery list! After you've purchased the items on the list, you can send them into your inventory with a simple click!</h6>
              </div>
            </div>
            <hr>
            <h4>Next Slide <i class="ion-chevron-right"></i></h4>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box green">
          <div class="land1">
            <h2>Welcome to smartCart!</h2>
            <img src="./img/logo.png">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo
            consequat.</p>
            <a class="button button-calm" href="#/tab/signup">Sign Up</a>
          </div>
          
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
