<ion-view view-title="Log In">
  <ion-content has-header="true" padding="true">
    <form ng-submit="vm.login(user)" class="list list-inset">  
      <h4>Log In</h4>           
      <label class="item item-input-inset">
        <input type="text" ng-model="user.username" placeholder="Username">
      </label>
      <label class="item item-input-inset">
        <input type="password" ng-model="user.password" placeholder="Password">
      </label>
      <button class="button button-block button-calm">
        Submit
      </button>
    </form>
    <p>Need an account? <a href="#/tab/signup">Signup</a></p>

  </ion-content>
</ion-view>
