<ion-view view-title="Master List">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-calm" ng-click="showPopup()"><i class="icon ion-plus"></i></button>
    <button class="button button-icon icon ion-ios-bell" ng-controller="AlertController" ng-click="modal.show()"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div class="lists row">
      <div class="row list1">
        <div class="col col-100">

        
          
          <div id="pantry" class="list list-inset">

          

            <div>
              <div class="item item-divider" child>
                Necessity
                <span class="badge badge-positive">{{ vm.necessityAmt }}</span>
              </div>
              <ion-list>

                <ion-item ng-repeat="item in vm.necessity" item="item" class="item-remove-animate hide">
                <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete >
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="editPopup(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Produce
                <span class="badge badge-positive">{{ vm.produceAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.produce" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="editPopup()">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Dairy
                <span class="badge badge-positive">{{ vm.dairyAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.dairy" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="editPopup(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Deli
                <span class="badge badge-positive">{{ vm.deliAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.deli" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Meats
                <span class="badge badge-positive">{{ vm.meatsAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.meats" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Spices
                <span class="badge badge-positive">{{ vm.spicesAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.spices" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>
            
            <div>
              <div class="item item-divider" child>
                Baking
                <span class="badge badge-positive">{{ vm.bakingAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.baking" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

             <div>
              <div class="item item-divider" child>
                Breakfast
                <span class="badge badge-positive">{{ vm.breakfastAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.breakfast" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Snacks
                <span class="badge badge-positive">{{ vm.snacksAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.snacks" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Sweets
                <span class="badge badge-positive">{{ vm.sweetsAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.sweets" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Grains
                <span class="badge badge-positive">{{ vm.grainsAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.grains" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Beverages
                <span class="badge badge-positive">{{ vm.bevsAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.bevs" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Hygiene
                <span class="badge badge-positive">{{ vm.hygieneAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.hygiene" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                House Supplies
                <span class="badge badge-positive">{{ vm.householdAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.household" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

            <div>
              <div class="item item-divider" child>
                Other
                <span class="badge badge-positive">{{ vm.otherAmt }}</span>
              </div>
              <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

                <ion-item ng-repeat="item in vm.other" item="item" class="item-remove-animate hide">
                  <h2>
                  {{ item.title }} {{item.quantity}}</h2>
                  <ion-option-button class="button-assertive" ng-click="delete(item)" delete>
                    Delete
                  </ion-option-button>
                  <ion-option-button class="button-calm" ng-click="edit(item)">
                    Edit
                  </ion-option-button>
                  <ion-option-button class="button-balanced" ng-click="add(item)">
                    2Shop
                  </ion-option-button>
                </ion-item>

              </ion-list>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>




