
<ion-view view-title="Ingredients">
  <ion-nav-buttons side="left">
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">

    <h2 class="another">{{vm.title}}</h2>        
    <div class="list single">
      <div class="item">

        <div class="row">
          <div class="col head">Name</div>
          <div class="col head">Amount/Unit</div>
        </div>
       
        <div ng-repeat="item in vm.ingredients" class="row">
          <div class="col">{{item.name}}</div>
          <div class="col">{{item.amount| limitTo: 4}} {{item.unit}}</div>
        </div> 
      </div>       
    </div>


  </ion-content>
  <div class="bar bar-footer recipeBar">
    <button class="button button-calm" ng-click="vm.addThisRecipe()">Add This Recipe!</button>
    <a class="button button-balanced" ng-click="browser()">View Recipe Instructions</a>
  </div>
</ion-view>
