<ion-view view-title="Sweets">
  <!-- <ion-nav-buttons side="left" back-button-type="button-icon ion-ios-arrow-back" back-button-icon="ion-ios-arrow-back"> -->
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <!-- <button class="button button-icon icon ion-clipboard" ng-controller="AlertController" ng-click="modal.show()"></button> -->
  </ion-nav-buttons>
  <ion-content>
    <div>
      <ion-list>
        <ion-item ng-repeat="item in vm.sweets" item="item" class="cap">
        <h2>
          {{ item.title }} <span class="item-note">{{item.quantity | limitTo: 4}} of {{item.preferred | limitTo: 4}}</span></h2>
          <ion-option-button class="button-assertive ion-trash-a" ng-click="delete(item)">
          </ion-option-button>
          <ion-option-button class="button-calm ion-edit" ng-click="editPopup(item)">
          </ion-option-button>
          <ion-option-button class="button-balanced ion-ios-redo" ng-click="vm.addNewItem(item)">
          </ion-option-button>
        </ion-item>

      </ion-list>
    </div>
    <p class="howto">Swipe to the left for item options!</p>

  </ion-content>
  <div class="bar bar-footer bar-calm  goToList">
    <button class="button button-block goBtn" ui-sref="tab.list">
      Go To Grocery List
    </button>
  </div>
</ion-view>

