<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus>
  <ion-side-menu-content ng-controller="NavController">
    <ion-nav-bar class="bar-balanced nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
      
    </ion-nav-bar>
    <ion-nav-view name="tab"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" ng-controller="NavController">
    <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content has-header="true">
      <ul class="list">
        <a ui-sref="tab.home" class="item" ng-click="toggleLeft()">Home</a>
        <a ui-sref="tab.add" class="item" ng-click="toggleLeft()">Add Users</a>
        <a ui-sref="tab.contact" class="item" ng-click="toggleLeft()">Contact Us</a>        
        <a class="button button-calm button-block" menu-close logout>
          Logout
        </a>
      </ul>


  </ion-side-menu>
</ion-side-menus>
<!-- <div class="tabs tabs-icon-only">
  <a class="tab-item disable-user-behavior" title="Pantry" ui-sref="tab.pantry">
    <i class="icon ion-icon ion-ios-list-outline"><span>Master List</span></i>
    <span class="tab-title ng-binding" ng-bind-html="title"></span>
  </a>
  <a class="tab-item disable-user-behavior" title="List" ui-sref="tab.list">
    <i class="icon ion-icon ion-ios-cart-outline"><span>Smart Cart</span></i>
    <span class="tab-title ng-binding" ng-bind-html="title"></span>
  </a>
</div> -->





